<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<%@page import="java.sql.*" %>

<%@page import="javax.sql.*" %>

<%@page import="java.sql.Connection" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>
<sql:setDataSource
        var="myDS"
        driver="com.mysql.jdbc.Driver"
        url="jdbc:mysql://localhost:3306/proyecto"
        user="root" password="1234"
    />

    
     
    <sql:query var="listBancos"   dataSource="${myDS}">
        SELECT * FROM incidencias where estado_incid = 'resuelto' and usuario_incid='<%= request.getParameter("Username") %>';
    </sql:query>
     
    <div align="center">
        <table border="1" cellpadding="5">
            <caption><h2 align="center">Lista de las incidencias resueltas</h2></caption>
            <tr>
                <th># de incidencia</th>
                <th>Fecha</th>
                <th>Problema</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Ver solucion</th>
            </tr>
            <c:forEach var="crud1" items="${listBancos.rows}">
                <tr>
                    <td><c:out value="${crud1.n_incidencia}" /></td>
                    <td><c:out value="${crud1.fecha_incid}" /></td>
                    <td><c:out value="${crud1.problema_incid}" /></td>
                    <td><c:out value="${crud1.tipo_incid}" /></td>
                    <td><c:out value="${crud1.estado_incid}" /></td>
                    <td><a href=soluciones_problemas.jsp?n_incidencia=${crud1.n_incidencia}&Username=<%= request.getParameter("Username") %>&Password=<%=request.getParameter("Password")%>>ver</a></td>
                </tr>
            </c:forEach>
        </table>
        <table>  
        <td><a href=session.jsp?Username=<%=request.getParameter("Username")%>&Password=<%=request.getParameter("Password")%>>volver </a> </td><td></td>
        </table>
        
    </div>
</body>
</html>
